In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
dataset = pd.read_csv(r"C:\Users\Wlink\Documents\Data_Analyst_Project\statisticproject\screentime_eyestrain\Datasets\digital_eye_strain_students_professionals.csv")
display(dataset)

,Age,Gender,Role,Daily_Screen_Hours,Break_Frequency_Per_Hour,Blue_Light_Filter_Used,Eye_Dryness_Level,Eye_Pain_Level,Headache_Frequency_Per_Week,Blurred_Vision,Sleep_Hours,Eye_Checkup_Last_Year,Digital_Eye_Strain_Risk
0,24,Male,Professional,6.8,2,Yes,6,5,6,Yes,7.5,Yes,Low
1,37,Male,Professional,3.1,0,Yes,10,9,6,No,6.1,No,Medium
2,32,Male,Student,6.0,3,Yes,2,4,6,No,6.8,Yes,Low
3,28,Male,Student,8.3,1,Yes,10,4,5,No,8.7,No,Medium
4,25,Female,Student,10.8,3,No,0,9,6,No,4.4,No,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,34,Female,Student,4.1,0,Yes,10,6,7,Yes,5.3,Yes,High
496,41,Female,Professional,6.3,0,No,2,3,0,No,6.6,No,Low
497,36,Male,Professional,12.9,1,Yes,8,0,2,Yes,4.6,Yes,Low
498,43,Male,Professional,11.2,1,No,0,3,3,No,8.3,No,Low
499,40,Male,Student,8.7,3,Yes,5,5,2,No,5.5,No,Medium

In [ ]:
dataset.columns

Index(['Age', 'Gender', 'Role', 'Daily_Screen_Hours',
       'Break_Frequency_Per_Hour', 'Blue_Light_Filter_Used',
       'Eye_Dryness_Level', 'Eye_Pain_Level', 'Headache_Frequency_Per_Week',
       'Blurred_Vision', 'Sleep_Hours', 'Eye_Checkup_Last_Year',
       'Digital_Eye_Strain_Risk'],
      dtype='object')

In [ ]:
dataset.info()

In [ ]:
dataset.describe()
# count of all the column is 500 so there is no missing data.

,Age,Daily_Screen_Hours,Break_Frequency_Per_Hour,Eye_Dryness_Level,Eye_Pain_Level,Headache_Frequency_Per_Week,Sleep_Hours
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,30.928000,8.110000,1.480000,4.714000,5.082000,3.298000,6.423600
std,8.147612,3.470705,1.140263,3.165477,3.188041,2.321201,1.463546
min,18.000000,2.000000,0.000000,0.000000,0.000000,0.000000,4.000000
25%,24.000000,5.000000,0.000000,2.000000,2.000000,1.000000,5.175000
50%,31.000000,8.300000,1.000000,5.000000,5.000000,3.000000,6.400000
75%,38.000000,11.100000,3.000000,7.000000,8.000000,5.000000,7.800000
max,44.000000,14.000000,3.000000,10.000000,10.000000,7.000000,9.000000